/* ======= BEGIN: NAV VARIABLES ======= */
@nav_height_xs: 100px;
@nav_height_xs_compact: 60px;
@nav_height_sm: 100px;
@nav_height_md: 100px;
@nav_height_lg: 100px;
@nav_height_xl: 100px;

/* ======= BEGIN: VIEWPORT XS ======= */
#header {
  .transition(0.5s, ease-out);
  .block();
  position: fixed;
  width: 100%;
  height: @nav_height_xs;
  top: 0;
  left: 0;
  z-index: 100;
  .bg-color-white();
  
  & #logo {
    height: @nav_height_xs;
    width: 164px;
    margin: 0;
  }
  
  & #logo-compact {
    height: 24px;
    width: 90px;
    margin: 18px 0 0;
    display: none;
  }
  
  & nav {
    
    & .menu-nav-primary-container {
      .block();
      height: @nav_height_xs;
      
      & #menu-nav-primary {
        .block();
        height: @nav_height_xs;
      
        &>.menu-item {
          .block();
          display: inline-block;
          height: @nav_height_xs;
          padding-right: 80px;
          text-transform: lowercase;
          
          &>a,
          &>a:link,
          &>a:visited {
            .block();
            height: @nav_height_xs;
            font-family: @font-primary;
            font-size: @base-font-size;
            text-decoration: none;
            text-align: left;
            color: @color-brand-gray-dark;
            line-height: (@nav_height_xs * 2) - 10;
          }
          
          &>a:hover,
          &>a:focus,
          &>a:active {
            text-decoration: line-through;
            color: @color-brand-gray-dark;
          }
          
          &.current-menu-item {
           
            &>a {
             text-decoration: line-through;
             color: @color-brand-gray-dark;
            }
          }
        }
      }
    }
  }
  
  &.compact {
    height: @nav_height_xs_compact;
    
    & #logo {
      display: none;
    }
    
    & #logo-compact {
      display: block;
    }
    
    & nav {
      
      & .menu-nav-primary-container {
        height: @nav_height_xs_compact;
        
        & #menu-nav-primary {
          height: @nav_height_xs_compact;
        
          &>.menu-item {
            height: @nav_height_xs_compact;
            
            &>a,
            &>a:link,
            &>a:visited {
              height: @nav_height_xs_compact;
              line-height: @nav_height_xs_compact + 20;
            }
          }
        }
      }
    }
  }
}

#header-offset {
  .transition(0.5s, ease-out);
  .block();
  height: @nav_height_xs;
  
   &.compact {
    height: @nav_height_xs_compact;
    padding-bottom: 10px;
  }
  
}

@media (min-width: @tablet) {
  
}

@media (min-width: @desktop) {
  
}

@media (min-width: @large) {
  
}

@media (min-width: @xlarge) {
  
}