/* ======= BEGIN: VARIABLES ======= */

/* ======= BEGIN: VIEWPORT XS ======= */
#contact-wrapper {
  padding: 200px 0;
  
  & #contact-intro {
    position: absolute;
    top: 0;
    left: 50%;
    width: 33%;
    padding: 0 60px 30px;
  }
}
/* ======= END: VIEWPORT XS ======= */

@media (min-width: @tablet) {
  
}

@media (min-width: @desktop) {
  
}

@media (min-width: @large) {
  
}

@media (min-width: @xlarge) {
  
}