/* ======= BEGIN: VARIABLES ======= */
@opening_para_height_xs: 45vh;
@opening_para_height_sm: 100px;
@opening_para_height_md: 100px;
@opening_para_height_lg: 100px;
@opening_para_height_xl: 100px;

/* ======= BEGIN: VIEWPORT XS ======= */
body.home {
  .block();
  height: 100vh;
  overflow: auto;
  
  & #opening-paragraph-wrapper {
    .block();
    position: fixed;
    width: 100%;
    height: @opening_para_height_xs;
    top: @nav_height_xs;
    left: 0;
    z-index: 11;
    
    & div {
      height: inherit;
    }
    
    & div#opening-paragraph {
      .block();
      height: auto;
      padding-left: 15px;
      position: absolute;
      bottom: 30px;
      left: 0;
    }
  }
  
  & #opening-paragraph-offset {
    .block();
    width: 100%;
    height: @opening_para_height_xs;
  }
  
  & #home-carousel {
    z-index: 90;
    
    & .item {
      height: 100vh;
    }
  }
  
  & .home-carousel-nav {
    position: absolute;
    top: 50%;
    z-index: 10;
    margin-top: -21px;
    color: @color-white;
    
    &:link, 
    &:visited, 
    &:focus, 
    &:hover, 
    &:active {
      color: @color-white;
    }
    
    &.disabled {
      opacity: 0.5;
      
      &:hover {
        cursor: not-allowed;
      }
    }
    
    &#home-carousel-nav-left {
      left: 1%;
    }
    
    &#home-carousel-nav-right {
      right: 1%;
    }
  }
  
  & .item {
    height: auto;
    background-size: cover !important;
    
    & .display-table-cell {
      padding: 20px 0;
    }
  }
}

@media (min-width: @tablet) {
  
}

@media (min-width: @desktop) {
  .navbar {
    // max-width: 1000px;
  }
  .navbar-container {
    text-align: center;
  }
  
  /*  */
  // .navbar-default {
  //   background-color: white;
  //   border-color: white;
  // }
  // .navbar-nav {
  //   float: left;
  //   margin-left: 80px;
  // }
  // .navbar-nav > li {
  //   margin-left: 40px;
  // }
  // .navbar-brand > img {
  //   width: 100px;
  //   margin-top: -45px;
  // }
  // .container, .container-fluid {
  //   padding: 4% 20% 3%;
  // }
  // .navbar-default .navbar-nav > li > a,
  // .navbar-default .navbar-text {
  //   color: #131212;
  // }
  // .navbar-default .navbar-nav > .active > a,
  // .navbar-default .navbar-nav > .active > a:focus,
  // .navbar-default .navbar-nav > .active > a:hover {
  //   background-color: white;
  //   color: #131212;
  // }
}

@media (min-width: @large) {
  
}

@media (min-width: @xlarge) {
  
}