.matter {

  img {
    width: 100% !important;
  }

  .col-xs-6, .col-xs-12, .col-xs-3 {
    padding: 0 !important;
  }


  .small-description {
    background-color: yellow;
    .titles {
      .title {
        font-size: small;
      }
    }
    .description {
      font-size: 24px;
    }
  }

  .large-description {
    background-color: #a2bcd4;
  }

  .small_grid_height {
    img {
      height: 400px !important;
    }
  }

  .smallest_grid_height {
    img {
      height: 200px !important;
    }
  }

}
