.portfolio {
  text-align: left;

  .item_thumbnail {
    img {
      width: 100%;
    }
  }

  .firm_history {
    background-color: #312c22;
    padding: 100px;
    h3 {
      color: white;
    }

    .history_item {
      padding-left: 0;
      margin-bottom: 0;
      padding-right: 0;
      .panel {
        border-color: #312c22 !important;
        margin-bottom: 0;
        .panel-heading {
          padding-left: 0;
          background-color: #312c22;
          h4 a {
            color: white;
            font-size: 12px;
          }
        }
        .panel-collapse {
          .panel-body {
            background-color: #312c22;
            color: white;
            font-size: 12px;
            padding-left: 0;
            padding-right: 0;
            border-top: none;
          }
        }
      }
    }

  }

  .clients {
    background-color: #FFF481;
    display: flex;
    padding: 100px;
    .clients-title {
      padding: 0;
      h3 {
        font-size: 24px;
      }
    }

  }
}

@media (min-width: 992px) {
  /* Selectors and styles affecting screens UP TO 979px (Desktop) */
  .item_title h5 {
    bottom: 88px;
    left: 94px;
    color: white;
    margin-bottom: -15px;
  }
}

@media (max-width: 991px) {
  /* Selectors and styles affecting screens UP TO 979px (Desktop) */
  .item_title h5 {
    bottom: 48px;
    left: 70px;
    color: white;
    margin-bottom: -15px;

  }
}

@media (max-width: 680px) {
  /* Selectors and styles affecting screens UP TO 979px (Desktop) */
  .item_title h5 {
    bottom: 48px;
    left: 45px;
    color: white;
    font-size: 15px;
    margin-bottom: -15px;

  }
}

@media (max-width: 590px) {

  .item_title h5 {
    bottom: 0px;
    left: 20px;
    color: white;
    font-size: 15px;
    margin-bottom: -15px;

  }
}
